.photo{
    width: 100%;
    height: 300px;
    background-size: cover;
    
    display: block;
  }
  
  .avatar{
    margin-top: 10px;
    width: 150px;
  }
  .userProp{
    display: flex;
    
  }
  
  .DaTa{
   display: inline-block;
   width: 300px;
   padding-left: 20px;
  }
  .contents{
    grid-area: r;
    
    }
    